<div class='modal fade' id='signup' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true'>

            <div class='modal-dialog modal-dialog-centered' role='document'>
               <div class='modal-content'>
                 <div class='modal-header'>
                   <h5 class='modal-title' id='signup title' style='text-align:center'>Sign Up</h5>
                   <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                     <span aria-hidden='true'>&times;</span>
                   </button>
                </div>
                   <form action='/signup' method='post' id="signup_form_form">
                <div class='modal-body' >
                    <div class='form-group' id='signup_form'>
                         <label for='Username' id="testerThing">User Name: </label>
                        <input type='text' class='form-control' name='username' id="signup-username" placeholder='Name' required='required' onfocusout="testUsername()">
                        <p id='user-warning' style='color:Red'></p>
                        <label for='email'>Email address</label>
                       <input type='email' class='form-control' name='email' id="signup-email" placeholder='youremail@email.com' onfocusout="testEmail()">
                        <p id='email-warning' style='color:Red'></p>
                       <label for='password'>Password:</label>
                       <input type='password' class='form-control' id='password' name = 'password' placeholder='password' required='required' onfocusout='validatePasswordRequirements(this)'>
                         <label for='Confirm_password'> Confirm Password: </label>
                         <input type='password' class='form-control' id='Confirm_password' placeholder='password'
                           required='required' onchange='checkPasswords();'>
                         <p style='color:Red'></p>
                           <label for='zip'>zip code:</label>
                           <input type='text' class='form-control' name='zip' id="zip">
                        <p style='color:Red'></p>
                    </div>
                </div>
                 <div class='modal-footer'>
                   <button type="button" class='btn btn-secondary' onclick='verify_signin()'>sign up</button>
                  </div>
              </div>
              </div>
              </form>
            </div>
<script src="/resources/js/accountFunctions.js"></script>