<!DOCTYPE html>
<html>
    <head class = "container">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="../resources/css/my_style.css" rel="stylesheet">
    </head>
    <style>

    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(218, 31, 18);">
            <a class="navbar-brand" href="#">FoodFinder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" >
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Suggestions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Profile</a>
                </li>
              </ul>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
              </form>
              </div>
          </nav>
          <h1> Restaurant Information </h1>
        <table class= "table text-center">
            <tr>
              <th>Restaurant</th>
              <td>  <%-Restaurant%>	</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>  <%-Location%>	</td>
            </tr>
            <tr>
              <th>Reviews</th>
              <td>  <%-Reviews%>	</td>
            </tr>
            <tr>
              <th>Phonenumber</th>
              <td>  <%-Phonenumber%>	</td>
            </tr>



    </body>
</html>
